# Python Sets :

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

Sets are unordered, so you cannot be sure in which order the items will appear.

In [2]:
set_1 = {'car','motorbike','cycle','bus'}

for x in set_1:
    print(x)

bus
car
motorbike
cycle

To add one item to a set use the add() method.

In [19]:
set_1 = {'car','motorbike','cycle','bus'}
set_1.add('train')
print(set_1)

{'car', 'motorbike', 'cycle', 'train', 'bus'}

In [21]:
set_1.update(['boat','Aeroplane'])
print(set_1)

{'car', 'motorbike', 'cycle', 'Aeroplane', 'train', 'bus', 'boat'}

To remove an item in a set, use the remove(), or the discard() method.

In [22]:
set_1.remove('boat')
print(set_1)

{'car', 'motorbike', 'cycle', 'Aeroplane', 'train', 'bus'}

If the item to remove does not exist, remove() will raise an error 
but in case of discard() it will not show any error.

In [23]:
set_1.pop()

'car'

In [24]:
# as sets are unordered you will not know which element will be removed

Join Two Sets

The union() method returns a new set with all items from both sets:

In [26]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [27]:
set5 = {"a", "b" , "c"}
set4 = {1, 2, 3}

set6 = set4.update(set5)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

Both union() and update() will exclude any duplicate items.

# The set() Constructor

It is also possible to use the set() constructor to make a set.

In [28]:
thisset = set(("saurav", "ramansh", "pratik")) # note the double round-brackets
print(thisset)

{'ramansh', 'pratik', 'saurav'}